---
import BaseLayout from "../../layouts/BaseLayout.astro";

import PostLink from "../../components/PostLink.astro";
const posts = await Astro.glob("./*.md");
---

<BaseLayout title="JP's blog">
	<div class="headings">
		<h3>Blog Posts</h3>
		<h4><a href="/blog/by-tags">Blog posts by tags</a></h4>
	</div>
	<ul class="post-list">
		{
			posts.map((post) => {
				return (
					<PostLink
						title={post.frontmatter.title}
						url={post.url}
						date={post.frontmatter.date}
					/>
				);
			})
		}
	</ul>
</BaseLayout>

<style>
	.post-list {
		margin-left: 0;
		padding-left: 0;
		list-style: none;
	}
	.bio {
		margin-top: 20px;
	}
	.headings {
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	h3,
	h4 {
		display: inline-block;
	}
</style>
