---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
---

<BaseLayout title = "main page">
	<section class = "bio ">
		Hi I am Jaswanth, a Final Year Undergrad student studying Computer Science with a specialization in Artifical Intelligence. Apart from course work i dabble in Distributed Systems, Language design, Networking and Web development.
		I am currently working on Kubernetes for my internship.
	</section>
</BaseLayout>

<style>
	.bio {
		margin-top: 20px;
	}
</style>