---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import PostLink from "../components/PostLink.astro";

let posts = await Astro.glob("./blog/*.md*");
let sortedPosts = posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
if (sortedPosts.length < 3) {
	sortedPosts = sortedPosts;
} else {
	sortedPosts = sortedPosts.slice(0, 3);
}
---
<BaseLayout title="Home">
	<div class="bio">
		<p>
			Hi, I am Jaswanth, A Backend and DevOps engineer, Apart from my job which deals with a java codebase and a k8s platform, I am interested in Distributed Systems, Language Design,
			Networking.
		</p>

		<p>
			I am also currently enjoying playing around with the Rust programming language
		</p>
	</div>
	<div class="project">
		<h3>Projects</h3>
		<div class="projectList">
			<ProjectCard
				heading="Chip-8 emulator"
				desc="software emulator for running chip-8 spec games"
				link="https://github.com/JaswanthP6878/chip8-emulator"
			/>
			<ProjectCard
				heading="MapReduceMini"
				desc="An implementation map-reduce framework"
				link="https://github.com/JaswanthP6878/MapReduceMini"
			/>
			<ProjectCard
				heading="CodeCompete"
				desc="1v1 code platform for friends to compete to solve cp problems."
				link="https://github.com/JaswanthP6878/CodeCompete"
			/>
			<ProjectCard
				heading="MoviesApi"
				desc="a rate-limited web api for movie info"
				link="https://github.com/JaswanthP6878/MoviesAPI"
			/>
			<ProjectCard
				heading="Snippet Box"
				desc="github-gist inspired site to post snippets of info",
				link="https://github.com/JaswanthP6878/snippet-box"
			/>
		</div>
	</div>

	<div class="blogPosts">
		<h3>Blog</h3>
		<ul class="postList">
			{
				sortedPosts.map((post) => {
					return (
						<PostLink
							title={post.frontmatter.title}
							url={post.url}
							date={post.frontmatter.date}
						/>
					);
				})
			}
		</ul>
	</div>

	<h4 class = "allposts"> <a href="/blog">All posts &rightarrow;</a></h4>
</BaseLayout>

<style>
	.bio {
		margin-top: 1em;
	}

	.projectList {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 10px;
	}
	.postList {
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		min-height: 20vh;
	}
	
	.allposts {
		text-align: end;
	}
	.allposts a {
		text-decoration: none;
		color: black;

	}
	.allposts a:hover {
		text-decoration-line: underline;
		color: black;
		
	}
</style>
