---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import PostLink from "../components/PostLink.astro";

let posts = await Astro.glob("./blog/*.md");
if (posts.length < 3) {
	posts = posts;
} else {
	posts = posts.slice(0, 2);
}
---
<BaseLayout title="main page">
	<div class="bio">
		<p>
			Hi I am Jaswanth, a Final Year Undergrad student studying Computer
			Science with a specialization in Artifical Intelligence. Apart from
			course work i dabble in Distributed Systems, Language design,
			Networking and Web development.
		</p>
		<p>
			I am currently working on distrubuted olap
			systems and a on-prem Kubernetes infra setup
		</p>
	</div>
	<div class="project">
		<h4>Some select projects I worked on</h4>
		<div class="projectList">
			<ProjectCard
				heading="CodeCompete"
				desc="1v1 code platform for friends to compete to solve cp problems."
			/>
			<ProjectCard
				heading="MoviesApi"
				desc="a rate-limited web api for movie info"
			/>
			<ProjectCard
				heading="Snippet Box"
				desc="github-gist inspired site to post snippets of info"
			/>
		</div>
	</div>

	<div class="blogPosts">
		<h4>A few of my blog posts</h4>
		<ul class="postList">
			{
				posts.map((post) => {
					return (
						<PostLink
							title={post.frontmatter.title}
							url={post.url}
							date={post.frontmatter.date}
						/>
					);
				})
			}
		</ul>
	</div>
</BaseLayout>

<style>
	.bio {
		margin-top: 1em;
	}

	.projectList {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 10px;
	}
	.postList {
		margin-left: 0;
		padding-left: 0;
		list-style: none;
	}
</style>
