---
---
<footer>
    <p class = "margin-decrease">
        Made by P Jaswanth
    </p>
    <ul class ="social-list" class ="margin-decrease">
        <li><a href="https://github.com/JaswanthP6878">Github</a></li>
        <li><a href="https://twitter.com/JusOneP">X/twitter</a></li>
    </ul>
</footer>
<style>
    footer {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid black;
        margin-top: 2em;
        margin-bottom: 20px;
    }
    .social-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-content: space-evenly;
    }
    .social-list li {
        margin: 1em;
    }
    .social-list li a {
        text-decoration: none;
        color : black;
    }
    .social-list li a:hover {
        text-decoration-line: underline;
        color : black;
    }
    .margin-decrease {
        margin: 0px;
    }
</style>