---

---

<nav class="navbar">
    <h1 class="brand"><a href="/">Jus0ne</a></h1>
    <ul class="navLinks">
        <li class="navItem"><a href="/">Home</a></li>
        <li class="navItem"><a href="/blog">Blog</a></li>
    </ul>
</nav>

<style>
    .navItem {
        display: inline-block;
        margin: 10px;
    }
    .navItem a {
        text-decoration: none;
        color: black;
    }
    .navLinks {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-content: space-evenly;
    }
    .navbar {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .linkHighlight {
        text-decoration: solid underline #2a7ae2 2px;
    }

    .brand a {
        text-decoration: none;
        color: #000;
    }
</style>
<script>
    function setnavLinkStyle() {
        const navitems = document.querySelectorAll(".navItem");
        navitems.forEach((item) => {
            if (window.location.pathname == "/" && item.textContent == "Home") {
                item.classList.add("linkHighlight");
            }
            if (
                window.location.pathname.includes("blog") &&
                item.textContent == "Blog"
            ) {
                item.classList.add("linkHighlight");
            }
        });
    }
    document.addEventListener(
        "astro:page-load",
        () => {
            // This only runs once.
            setnavLinkStyle();
        }
    );
</script>
