---
const { title, date, url } = Astro.props;
---
<li>
    <h4>
        <a class= "post-link" href={url}>{title}</a>
    </h4>
    <span class="post-meta">{date}</span>
</li>


<style>
    h4 {
        margin-bottom: 0;
    }
    .post-link {
        text-decoration: none;
        color: rgb(30, 28, 28)
    }
    .post-link:hover{
        color: black;
        text-decoration: underline solid #2a7ae2 2px ;
    }

    .post-meta {
        font-size: small;
        color: #494545;
    }

</style>