---
const {heading, desc} = Astro.props
---
<div class="project">
    <div class = "heading">{heading}</div>
    <p>{desc}</p>
</div>

<style>
    .project {
        width: calc(100%/3.5);
        padding: 1em;
    }
    .project:hover {
        background-color: lightgrey;
        cursor: grab;
    }
    .project:hover .heading {
        text-decoration: underline solid black 1px;
    }
    .project p {
        margin-top: .3em;
    }

    @media screen and (max-width: 450px) {
        .project {
        width: calc(100%/2.5);
        padding: 1em;
    }
    .project:hover {
        background-color: lightgrey;
        cursor: grab;
    }
    .project:hover .heading {
        text-decoration: underline solid black 1px;
    }
    .project p {
        margin-top: .3em;
    }

        
    }
</style>