---
const { name } = Astro.props;
---
<div class = "tag-pill">
    {name}
</div>

<style>
    .tag-pill {
        display: inline-block;
        font: 0.5rem;
        border: .2em solid gray;
        border: 0.2em;
    }
</style>