---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title="JP's blog">
    <h2 class="blog-title">{frontmatter.title}</h2>
    <span class="date-item">{frontmatter.date}</span>
    <slot />
</BaseLayout>

<style>
    .blog-title {
        margin-bottom: 0;
    }

    .date-item {
        color: #828282;
    }
</style>
